
@import "mixins";
@import "variables";


//main buddypress nav

#main-content #subnav{
    width:100%;
    background-color:$color1;
    display:block;
    
    float:left;
    margin: 0 0.5em 0 0;
    ul{
        background-color:$color1;
        padding:0.5em;
        width:90%;
        margin:0 auto;
        li{
            display:block;
            text-align:center;
            a{
                background-color:$color1;
                color:$color2;
                display:block;
                height:100%;
                line-height:40px;
                &:hover{
                    background-color:$color2;
                    color:$color1;
                }
            }
            label{
                width:30%;
                color:$color6;
                background-color:$color4;
            }
        }
        li#activity-filter-select{
            padding:0.5em 0;
            background-color:$color1;
        }
    }
}

/*setting form */
#main-content form#settings-form{
    background-color: $color1;
    padding:1em;
    label {
        color: $color2;
        text-align: left;
        width: 100%;
        display: block;
        letter-spacing: 0.1em;
        font-size: 1em;
        line-height: 35px;
        font-weight: 100;
    }
    input,
    input[type="text"]{
        width: 100%;
        height: 100%;
        height: 35px;
        color: $color5;
        border: 0;
        outline: none;
    }
    
    div.submit{
        display:block;
        height:50px;
        margin-top: 1em;
        width:20%;
        input[type="submit"]{
            width: 100%;
            margin: auto;
            font-size: 0.9em;
            color: $color2;
            border: 1px solid $color6;
            outline: 0;
            height: 35px;
            @include boxShadow( rgba(0,0,0,.1) 0 0 0 4px );
            background-color: $color1;
            display: block;
            &:hover{
                background-color: $color2;
                color: $color3;
                cursor: pointer;
            }
        }

    }

}

//bbp template notice -index-bbpress page
#main-content div.bbp-template-notice,
#main-content .info{
	
    p.bbp-topic-description,
    .bbp-forum-description{
        width:100%;
        .bbp-author-avatar{
                display: inline-block;
                width: 3%;
                clear: both;
                height: 40px;
                margin: 0 0.5em;
            img.avatar{ 
                width:100%;
            }
        }
        .bbp-author-name{
                display: inline-block;
                width: auto;
                padding-right: 0.5em;
        }
        a{
            display:block;
            width: 11%;
            padding-right: 0.5em;
            img.avatar{
                width:2%;
            }
        }
    }
}


div.bbp-reply-author,
a.bbp-author-name {
    margin: 0 ;
}

/*register page logins*/
form.bbp-login-form{
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: block;
    
    fieldset.bbp-form{
        background-color:$color1;
        legend{
            display:block;
            height:40px;
            line-height:40px;
            background-color:$color3;
            color:$color2;
            text-indent:0.5em;
        
        }
        
        div.bbp-username, 
        div.bbp-password,
        div.bbp-remember-me,
        div.bbp-email,
        div.bbp-submit-wrapper{
            display:block;
            label {
                color: $color2;
                text-align: left;
                width: 100%;
                display: block;
                letter-spacing: 0.1em;
                font-size: 1em;
                line-height: 35px;
                font-weight: 100;
            }
        
            input,
            input[type="text"]{
                width: 100%;
                height: 100%;
                height: 35px;
                color: $color5;
                border: 0;
                outline: none;
            }

            button[type="submit"]{
                width: 100%;
                margin: auto;
                font-size: 0.9em;
                line-height: 30px;
                color: $color2;
                border: 1px solid $color6;
                outline: 0;
                height: 35px;
                @include boxShadow( rgba(0,0,0,.1) 0 0 0 4px );
                background-color: $color1;
                display: block;
            }

            button[type="submit"]:hover{
                background-color: $color2;
                color: $color3;
                cursor: pointer;
            }
        }
    }
}

//bbpress forum
#bbpress-forums {
    width:100%;
    display:inline-block;
    margin: 0 ;

    ul{
        width:100%;
    }

    //breadcrumbs
    div.bbp-breadcrumb, 
    div.bbp-topic-tags {
        font-size: 0.9em;
        width: auto;
        height:50px;
        margin-top: 1em;
        width: 50%;
        p{
            display:block;
            line-height: 50px;
            a{
                height:100%;
            
            }
        }
    }
	
	div.bbp-forum-author, 
	div.bbp-topic-author, 
	div.bbp-reply-author {
		float: left;
		text-align: center;
		width: 20%;
	}
	    
    	
	li.bbp-body ul.topic {
		width: 100%;
		margin: 0;
		height: auto;
		li{
			height:auto;
			font-size:1em;
			a{
                display:inline-block; 
                width:100%; 
                height:100%;
                font-size:0.8em;
            }
		}
	}

	
	//profile editing page
	#bbp-user-body {
		margin-left: 0;
		
		form#bbp-your-profile{
			width:90%;
			margin:auto;
			
			fieldset.bbp-form{
					padding:0;
					margin:0;
					p{
						width:100%;
					}

					legend {
						text-align:center;
					}

					input {
						margin: 0 0 8px;
						width: 100%;
						height: 100%;
						height: 35px;
						background-color: #F0F7E8;
						border: 0;
						outline: none;
					}
					input.bbp-topic_subscription{text-align:left;}
					label {
						margin: 0;
						display: inline-block;
						text-align: left;
						width: 100%;
						letter-spacing: 0.1em;
						font-size: 1em;
						line-height: 35px;
						font-weight: 100;
					}

					select{
						width: 100%;
						height: 100%;
						height: 35px;
						color: $color5;
						border: 0;
						outline: none;
					}
				}
			fieldset.submit{
				width:20%;
				padding:0;
				margin: 1em 0;
				button{
					width:100%;
					display:inline-block;
					color: $color2;
					border: none;
					outline: 0;
					line-height: 35px;
					background-color: $color1;
					height:auto;
				}
			}
		}
	}
	
	div.bbp-the-content-wrapper {

        div.quicktags-toolbar {
            input.ed_button{
                width:9%;
            }
        }

        textarea.bbp-the-content {
           background-color: #F0F7E8;
        }

    }
	
	//subscription button
    span#subscription-toggle{

        span#subscribe-60, span#subscribe-71 {
            display:block;
            a.subscription-toggle{

                text-decoration: none;
                margin: 0 ;
                height: 100%;
                float: right;
                display: block;
                padding: 1% 2%;
                line-height: 20px;
                letter-spacing: 0.2em;
                font-size: 0.85em;
                color: $color2;
                text-align: center;
                background-color: $color1;
                @include TransOrigin( 0,0 );
                @include FillUp( both );
                @include TranSition( all 0.2s linear);
                &:hover{

                    background-color: $color3;
                    color: $color2;
                    text-decoration: none;
                    line-height: 20px;
                    font-size: 0.9em;
                    font-weight: bold;

                }

            }
        }
    }

    //search form
	div.bbp-search-form {
        float: right;
        width: auto;
        margin:0;
        form#bbp-search-form{
            #bbp_search { 
                line-height: 25px; 
                 width: 62%;
            }
            #bbp_search_submit{
                width: 32%;
                display: inline-block;
                color: #fff;
                border: none;
                outline: 0;
                line-height: 30px;
                background-color: #336600;
            }
        }

    }

    //forums page
    ul.bbp-forums{
        width:100%;
        .bbp-header{
            width:100%;
            display: inline-block;
            float: left;
            background-color: $color1;
            ul.forum-titles {
                width: 100%;
                margin:0;
                padding:0;

                li {
                    font-size: 1.2em;
                    text-align:left;
                    color:$color2;
                    letter-spacing: 0.1em;

                }
				
				li.bbp-forum-info{
					width:25%;
				
				}
				li.bbp-forum-topic-count,
				li.bbp-forum-reply-count{
				
					width:15%;
				}
				li.bbp-forum-freshness{
					width:45%;
				}
            }
        }
        .bbp-body{
            width:100%;
            display:inline-block;
            ul{
                width: 100%;
                margin: 0;
                height: auto;
                padding: 8px;
                li.bbp-forum-info{
                    height: auto;
                    font-size: 1.2em;
                    height: 35px;
                    a.bbp-forum-title{
						display:inline-block; 
						width:100%; 
						height:100%;
					}

                }
				
				li.bbp-forum-topic-count,
				li.bbp-forum-reply-count{
					width:15%;
				}
				
				
				li.bbp-forum-info{
					width:25%;
					font-size: 0.9em;
				
				}
				li.bbp-forum-freshness{
					width:45%;
					a{
						
						display:inline-block;
					}
					p.bbp-topic-meta{
						width: 58%;
    					display: inline-block;
						font-size: 0.9em;
					
					}
				}

            }
            li.bbp-topic-title {  float: left; width:20%;}

        }
    }

    //topics
    ul.bbp-topics{

        li.bbp-header {
            
            display:block;
            width:100%;
            background-color: $color1;
            color: $color2;
            ul.forum-titles {
				margin:0.5em 0;
                overflow: hidden;
                li {
                    letter-spacing: 0.1em;
                    line-height: 40x;
                    font-size: 1em;
					text-align:left;
                }
				li.bbp-topic-title{width:40%;}
				li.bbp-topic-voice-count,
				li.bbp-topic-reply-count,
				{ 
					
					width: 10%;
					
				}
				li.bbp-topic-freshness{ 
					line-height:40px;
					width: 40%;
					
				}
            }

        }

        li.bbp-body{
            width:100%;
            display:inline-block;
            line-height:auto;

            ul.topic {
                height: auto;
                padding: 12.25px;

                li.bbp-topic-title{
					width:40%;

                    font-size: 1em;
                    a.bbp-topic-permalink{
						display: inline-block; 
						width: 23%; 
						float: left; 
						line-height: 40px;
					}
                    p.bbp-topic-meta {
                        width: 70%;
                        height: auto;
                        display: inline-block;
                        float:left;
						font-size: 0.9em;
                        img.avatar{
							width:20%; 
							margin: 0;
						}
                        span.bbp-topic-started-by{
                            white-space: normal;
                            display: block;
                            height: 35px;
                            line-height: 35px;
                            a.bbp-author-avatar{
                                width: 7%;
                                margin:0;
                                img.avatar{
									width:100%;
									margin: 0; 
								}
                            }
                            a.bbp-author-name{
								display:inline-block; 
								width: 53%; 
								font-size:0.95em;
							}

                        }

                    }
                }
				li.bbp-topic-voice-count{
					width:10%; 
					text-align:left;
				}
                li.bbp-topic-reply-count{
					width:10%; 
					text-align:left;
				}
                li.bbp-topic-freshness{
                    width:40%;
                    a{
						width:40%; 
                        float: left; 
                        
					}
                    p.bbp-topic-meta{
                        width: 60%;
                        display: inline-block;

                        span.bbp-topic-freshness-author{
                            width:100%;
                            display: block;
                            a:first-of-type{
                               width:8%;

                               img.avatar{
								   width:100%; 
								   margin: 0;
								}
                           }
                            a{ 
								font-size:0.95em; 
								width: auto; 
								float: none;
							}
                        }
                    }
                }
                
            }

        }

    }


	//topic page
    div.bbp-submit-wrapper {
        button#bbp_topic_submit{
            display: block;
            text-decoration: none;
            margin: 0 auto;
            height: 100%;
            outline:none;
            line-height: 40px;
            letter-spacing: 0.05em;
            border:none;
            color: $color2;
            text-align: center;
            background-color: $color1;
            @include TransOrigin( 0,0 );
            @include FillUp( both );
            @include TranSition( all 0.2s linear);
            &:hover{

                background-color: $color2;
                color: $color1;
                text-decoration: none;
                line-height: 40px;
                font-weight: bold;

            }

        }
    }
		
	
	//single user
	#bbp-single-user-details {
		margin: 0;
		width: 100%;
		float: none;
		
		#bbp-user-avatar {
			margin: 0 1em 0 0;
			width: 13%;
			height:150px;
			float:left;
			display:inline-block;
			
			img.avatar {
				border: none;
				height:100%;
				max-width:100%;
				padding: 0;
			    background-color: #000;
                display: block;
			}
		}
		
		#bbp-user-navigation{
			display:inline-block;
			width: 85%;
			
			ul{
				margin:0;
			
				li {
					margin: 0;
					
					width: 50%;
					display: inline-block;
					float: left;
					height: 50px;
					span{
						display:block;
						a{
							text-align:center;
							font-size:1.2em;
							padding: 0;
							display:block;
							line-height:50px;
							background-color:$color1;
							color:$color4;
							&:hover{
								background-color:$color4;
								color:$color1;
							
							}
						}
					
					}
				}
			}
		
		} 
	}
	
   
}


