
@import "mixins";
@import "variables";


/*bbpress*/

#bbpress-forums,
li.bbp-header,
.bbp-reply-content{
	margin-left: 213px;

}

//breadcrumbs
#main-content div.bbp-breadcrumb, 
div.bbp-topic-tags {
	font-size: 0.9em;
	width: 54%;
	height:50px;
	margin-top: 1em;
	p{
		display:block;
		line-height: 50px;
		a{
			height:100%;
		
		}
	}
}


//bbpress forum
#bbpress-forums {

    ul{width:100%;}
	
	div.bbp-forum-author, 
	div.bbp-topic-author, 
	div.bbp-reply-author {
		float: left;
		text-align: center;
		width: 20%;
	}
	
	
	
	li.bbp-body ul.topic {
		width: 100%;
		margin: 0;
		height: auto;
		li{
			height:auto;
			font-size:1em;
			a{display:inline-block; width:100%; height:100%;}
		}
	}

	
	//profile editing page
	#bbp-user-body {
		margin-left: 0;
		
		form#bbp-your-profile{
			width:90%;
			margin:auto;
			
			fieldset.bbp-form{
					padding:0;
					margin:0;
					p{
						width:100%;
					}

					legend {
						text-align:center;
					}

					input {
						margin: 0 0 8px;
						width: 100%;
						height: 100%;
						height: 35px;
						background-color: #F0F7E8;
						border: 0;
						outline: none;
					}
					input.bbp-topic_subscription{text-align:left;}
					label {
						margin: 0;
						display: inline-block;
						text-align: left;
						width: 100%;
						letter-spacing: 0.1em;
						font-size: 1em;
						line-height: 35px;
						font-weight: 100;
					}

					select{
						width: 100%;
						height: 100%;
						height: 35px;
						color: $color5;
						border: 0;
						outline: none;
					}
				}
			fieldset.submit{
				width:20%;
				padding:0;
				margin: 1em 0;
				button{
					width:100%;
					display:inline-block;
					color: $color2;
					border: none;
					outline: 0;
					line-height: 35px;
					background-color: $color1;
					height:auto;
				}
			}
		}
	}
	
	div.bbp-the-content-wrapper {

        div.quicktags-toolbar {
            input.ed_button{
                width:9%;
            }
        }

        textarea.bbp-the-content {
           background-color: #F0F7E8;
        }

    }
	
	//subscription button
    span#subscription-toggle{

        span#subscribe-60, span#subscribe-71 {
            display:block;
            a.subscription-toggle{

                text-decoration: none;
                margin: 0 ;
                height: 100%;
                float: right;
                display: block;
                padding: 1% 2%;
                line-height: 20px;
                letter-spacing: 0.2em;
                font-size: 0.85em;
                color: $color2;
                text-align: center;
                background-color: $color1;
                @include TransOrigin( 0,0 );
                @include FillUp( both );
                @include TranSition( all 0.2s linear);
                &:hover{

                    background-color: $color3;
                    color: $color2;
                    text-decoration: none;
                    line-height: 20px;
                    font-size: 0.9em;
                    font-weight: bold;

                }

            }
        }
    }

    //search form
	div.bbp-search-form {
        float: right;
        width: 33%;
        margin:0;
        form#bbp-search-form{
            #bbp_search { line-height: 25px;  width: 62%;}
            #bbp_search_submit{
                width: 32%;
                display: inline-block;
                color: #fff;
                border: none;
                outline: 0;
                line-height: 30px;
                background-color: #336600;
            }
        }

    }

    //forums page
    ul.bbp-forums{
        width:100%;
        .bbp-header{
            width:100%;
            display: inline-block;
            float: left;
            background-color: $color1;
            ul.forum-titles {
                width: 100%;
                margin:0;
                padding:0;

                li {
                    font-size: 1.2em;
                    text-align:left;
                    color:$color2;
                    letter-spacing: 0.1em;

                }
				
				li.bbp-forum-info{
					width:25%;
				
				}
				li.bbp-forum-topic-count,
				li.bbp-forum-reply-count{
				
					width:15%;
				}
				li.bbp-forum-freshness{
					width:45%;
				}
            }
        }
        .bbp-body{
            width:100%;
            display:inline-block;
            ul{
                width: 100%;
                margin: 0;
                height: auto;
                padding: 8px;
                li.bbp-forum-info{
                    height: auto;
                    font-size: 1.2em;
                    height: 35px;
                    a.bbp-forum-title{
						display:inline-block; 
						width:100%; 
						height:100%;
					}

                }
				
				li.bbp-forum-topic-count,
				li.bbp-forum-reply-count{
					width:15%;
				}
				
				
				li.bbp-forum-info{
					width:25%;
					font-size: 0.9em;
				
				}
				li.bbp-forum-freshness{
					width:45%;
					a{
						
						display:inline-block;
					}
					p.bbp-topic-meta{
						width: 58%;
    					display: inline-block;
						font-size: 0.9em;
					
					}
				}

            }
            li.bbp-topic-title {  float: left; width:20%;}

        }
    }

    //topics
    ul.bbp-topics{

        li.bbp-header {
            
            display:block;
            width:100%;
            background-color: $color1;
            color: $color2;
            ul.forum-titles {
				margin:0.5em 0;
                overflow: hidden;
                li {
                    letter-spacing: 0.1em;
                    line-height: 40x;
                    font-size: 1em;
					text-align:left;
                }
				li.bbp-topic-title{width:40%;}
				li.bbp-topic-voice-count,
				li.bbp-topic-reply-count,
				{ 
					
					width: 10%;
					
				}
				li.bbp-topic-freshness{ 
					line-height:40px;
					width: 40%;
					
				}
            }

        }

        li.bbp-body{
            width:100%;
            display:inline-block;
            line-height:auto;

            ul.topic {
                height: auto;
                padding: 12.25px;

                li.bbp-topic-title{
					width:40%;

                    font-size: 1em;
                    a.bbp-topic-permalink{
						display: inline-block; 
						width: 30%; 
						float: left; 
						line-height: 40px;
					}
                    p.bbp-topic-meta {
                        width: 70%;
                        height: auto;
                        display: inline-block;
                        float:left;
						font-size: 0.9em;
                        img.avatar{
							width:20%; 
							margin: 0;
						}
                        span.bbp-topic-started-by{
                            white-space: normal;
                            display: block;
                            height: 35px;
                            line-height: 35px;
                            a.bbp-author-avatar{
                                width: 10%;
                                margin:0;
                                img.avatar{
									width:100%;
									margin: 0; 
								}
                            }
                            a.bbp-author-name{
								display:inline-block; 
								width: 53%; 
								font-size:0.95em;
							}

                        }

                    }
                }
				li.bbp-topic-voice-count{
					width:10%; 
					text-align:left;
				}
                li.bbp-topic-reply-count{
					width:10%; 
					text-align:left;
				}
                li.bbp-topic-freshness{
                    width:40%;
                    a{
						width:40%; 
						float: left; 
					}
                    p.bbp-topic-meta{
                        width: 60%;
                        display: inline-block;

                        span{
                            width:100%;
                            display: block;
                            #text{display:block;}

                            a.bbp-author-avatar{
                               width:10%;

                               img.avatar{
								   width:100%; 
								   margin: 0;
								}
                           }
                            a.bbp-author-name{ 
								font-size:0.95em; 
								width: 56%; 
								float: none;
							}
                        }
                    }
                }
                
            }

        }

    }
	
	//bbp template notice -index-bbpress page
	div.bbp-template-notice.info {
	
    p.bbp-topic-description,
	.bbp-forum-description{
        width:100%;
        .bbp-author-avatar{
			    display: inline-block;
				width: 3%;
				clear: both;
				height: 40px;
				margin: 0 0.5em;
			img.avatar{ 
				width:100%;
			}
		}
        .bbp-author-name{
			    display: inline-block;
   				width: auto;
    			padding-right: 0.5em;
		}
        a{
			display:inline-block;
			width: auto;
    		padding-right: 0.5em;
		}
    }
}
	
	
	//single user
	#bbp-single-user-details {
		margin: 0;
		width: 100%;
		float: none;
		
		#bbp-user-avatar {
			margin: 0 1em 0 0;
			width: 13%;
			height:150px;
			float:left;
			display:inline-block;
			
			img.avatar {
				border: none;
				height:100%;
				max-width:100%;
				padding: 0;
			    background-color: #000;
                display: block;
			}
		}
		
		#bbp-user-navigation{
			display:inline-block;
			width: 85%;
			
			ul{
				margin:0;
			
				li {
					margin: 0;
					
					width: 50%;
					display: inline-block;
					float: left;
					height: 50px;
					span{
						display:block;
						a{
							text-align:center;
							font-size:1.2em;
							padding: 0;
							display:block;
							line-height:50px;
							background-color:$color1;
							color:$color4;
							&:hover{
								background-color:$color4;
								color:$color1;
							
							}
						}
					
					}
				}
			}
		
		} 
	}
	
   
}


#bbpress-forums,
div.bbp-reply-author,
a.bbp-author-name {
    margin: 0 ;
}

//topic page
div.bbp-submit-wrapper {
    button#bbp_topic_submit{
        display: block;
        text-decoration: none;
        margin: 0 auto;
        height: 100%;
        outline:none;
        line-height: 40px;
        letter-spacing: 0.05em;
        border:none;
        color: $color2;
        text-align: center;
        background-color: $color1;
        @include TransOrigin( 0,0 );
        @include FillUp( both );
        @include TranSition( all 0.2s linear);
        &:hover{

            background-color: $color2;
            color: $color1;
            text-decoration: none;
            line-height: 40px;
            font-weight: bold;

        }

    }
}



//buddypress///////////////////////////////////////////////////////////////////////

//bp
.bp-login-widget-user-links {
    padding:3% 0;
}

.bp_members,
.forum {
    padding-top: 0.5em;
    width: 100%;

    h2 {
        margin: 1% 0;
        width: 100%;
        color: $color1;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.1em;
        font-size: 2em;
        text-align: left;
        display: block;

        a {
            display: block;
            text-decoration: none;
            margin: 0 auto;
            height: 100%;
            width: 80%;
            line-height: 40px;
            letter-spacing: 0.2em;
            font-size: 1em;
            color: $color1;
            text-align: center;
        }
    }

    .entry {}
}

.bp-login-widget-user-links {
    padding:3% 0;
}

#main-content.item-list-tabs{
	
	


}

//widgets area

.widget.buddypress .item-avatar a {

    width: 22%;
}
.widget.buddypress div.item-avatar img.avatar {
  margin: 3%;	
  width: 15%;

}

.widget.buddypress .bp-login-widget-user-avatar {
    margin: 3%;
	width: 10%;
}

//members widget box
.widget.buddypress div.item-options {
    font-size: 100%;
    a#newest-members, 
	a#recently-active-members,
	a#popular-members{
        display: block;
        text-decoration: none;
        margin: 2% auto;
        height: 100%;
        width: 80%;
        line-height: 30px;
        letter-spacing: 0.2em;
        font-size: 0.8em;
        color: $color2;
        text-align: center;
        background-color: $color1;
        @include TransOrigin( 0,0 );
        @include FillUp( both );
        @include TranSition( all 0.2s linear);
    }

}
.widget-error{

	text-align:center;
}


#main-content #buddypress {
	
	//members page home
	#item-header {
		
		height: auto;
		width: 70%;
		float: left;
		display: block;
		padding: 0.5em 0;
		#item-header-avatar{
			width:10%;
		
		}

	}	
	
	#item-nav{
		width:30%;
		display:inline-block;
		
		div#object-nav{

			display: block;
			ul{
			
				li{

					a{
						display:block;
						background-color:$color1;
						color:$color6;
                        text-align: center;
                        &:hover{
                            background-color:$color6;
						    color:$color1;
                            text-align: center;
                        }
						
					}
				}
			}
		
		}
	}
    
    #item-body{
        width:100%;
        margin-top:1em;
        div.item-list-tabs{
            padding: 0.1em 0;
            clear: both;
            background-color: $color1;

            ul {
                width: 60%;
                margin: 1em auto;
                padding:0;
                background-color:$color1;
                padding:0.5em;
                li,
                li#just-me-personal-li{ 
                    text-align: center; 
                    font-size:0.85em; 
                    width: 100%;
                    margin-bottom:0.1em;
                    a#just-me,
                    a{
                        display:block;
                        height:100%;
                        width:100%;
                        background-color: $color1;
                        color: $color2;
                        &:hover{
                            background-color: $color2;
                            color: $color1;
                        
                        }
                        
                    }
                }
                li.last {
                    width: 100%;
                    float:none;
                    display: block;
                    background-color:#fff;
                    label{
                        font-size:1em;
                        display: inline-block;
                        float: left;
                        margin: 0;
                        width:42%;
                        color:$color1;
                    }
                    select { 
                        font-size:0.85em;  
                        width: 50%;
                        display:inline-block;

                    }
                }
                li#change-avatar-personal-li{
                    width:30%;

                    a{
                        color: $color2; 
                        background-color: $color1;
                        &:hover{
                            background-color: $color2;
                            color: $color1;
                        }
                    
                    }
                }

                li.selected {
                    clear:both;
                
                    a {
                        background-color: $color1;
                        color: $color2;
                        display:block;
                        height:100%;
                        width:100%;
                        &:hover{
                            background-color: $color2;
                            color: $color1;
                        }

                    }
                }
                
                li#activity-filter-select,
                li#feed,
                li#activity-mentions,
                li#activity-all,
                li#topics-personal-li,
                li#replies-personal-li,
                li#favorites-personal-li,
                li#subscriptions-personal-li{
                    display:block;
                    text-align:center;
                    a{
                        background-color:$color1;
                        color:$color2;
                        display:block;
                        height:100%;
                        line-height:40px;
                        &:hover{
                            background-color:$color2;
                            color:$color1;
                        }
                    }
                }

            }
            
            .message-search{
                width:100%;
                margin:1em 0;
                height:40px;
                form#search-message-form{
                    width:100%;
                    display:block;
                    label {
                        color: $color2;
                        text-align: center;
                        line-height: 35px;
                        width: 22%;
                        display: inline-block;
                        letter-spacing: 0.1em;
                        font-size: 1em;
                        float:left;
                        
                    }


                    input[type="text"] {
                        width: 58%;
                        height: auto;
                        font-size: 1em;
                        line-height: 35px;
                        color: $color5;
                        display:inline-block;
                        margin-right:0.5em;
                        
                    }


                   input[type="submit"] {
                        width: 15%;
                        margin: auto;
                        font-size: 0.9em;
                        color: $color2;
                        border: 1px solid $color6;
                        outline: 0;
                        height: 35px;
                        @include boxShadow( rgba(0,0,0,.1) 0 0 0 4px );
                        line-height: 30px;
                        background: $color2;
                        background-color: $color1;
                        display: inline-block;
                       &:hover{
                           color: $color1;
                            background-color: $color2;
                            color: $color3;
                            cursor: pointer;

                       }
                    }
                }

            }

        } 
        
         
    
    }
	

	//groups and members search
	
	div.dir-search,
	#members-dir-search{
		float: right;
		margin: 1em 0;
		height: 40px;
		width: 35%;
    	
		form#search-groups-form,
		form#search-members-form{
			height:40px;
			display:block;
			padding:0.5em;		

			label.bp-screen-reader-text{
				float:left;
				width:33%;
				font-size:0.9em;
				margin:0;
				line-height:22px;
				
				
			}
			input[type="text"] {
				display: inline-block;
				width:50%;
				font-size:0.9em;
				
			}
			input[type="submit"] {
				display: inline-block;
				width:15%;
				font-size:0.8em;
			}
			
		}
		
	}
	
	
	
	form#groups-directory-form,
	form#members-directory-form{
	
		clear:both;
	}
	
		
	h2.bp-screen-reader-text{
		
		margin: 1% 0;
		width: 100%;
		color: #336600;
		height: 40px;
		line-height: 40px;
		letter-spacing: 0.1em;
		font-size: 1.4em;
		text-align: left;
		display: block;
	}
	
	#members-dir-list{
		width:25%;
		div.pagination{
			width:100%;
			text-align:center;
			
		}
		ul#members-list{
			display: inline-block;
			width: 100%;
			margin:0;
			padding:0;
			div.pagination{
				float:left;
			
			}
			li.is-online{
				width:100%;
				.item-avatar{
					width:23%;
					margin: 1em auto;
					display:block;
				
					a{
						display:block;
					}
					
					a.bp-tool-tip{
						margin:0;
						
						img.avatar {margin:2%;}
					}
			    }
				.item{

					display: inline-block;
					width: 100%;
					.item-title{
						background-color:$color1;
						text-align:center;
						width:100%;
						color:$color6;
					}
					.item-meta{
						background-color:$color1;
						text-align:center;
						width:100%;
						span.activity{
							color:$color2;
							display:block;
							height:100%;
							width:100%;
						}
					}
				}
			}
		}
	}
	//activity
	
	div.activity{
		margin:0;
		padding-top: 1em;
		clear: both;
			
		ul{
			margin:0;
			li{
				margin:0;
				div.activity-avatar{
					width:5%;
					display: block;
    				float: left;
					margin-right:1em;
				}
				div.activity-content{
					margin:0;
					font-size:0.9em;
					width:92%;
                    display:inline-block;
                    height: auto;
                    div.activity-header{
                        font-size:0.9em;
                        height:30px;
                    
                    }
                    div.activity-inner{
                        height:30px;
                        margin: 0;
                    
                    }
                    div.activity-meta{
                        height:30px;
                        margin: 0;
                    
                    }
				}
				div.activity-comments{
					margin:1em 0;
					form.ac-form{
						margin:0;
						div.ac-reply-avatar{
							width:10%;
							margin:auto;
							display:block;
						}
						div.ac-reply-content{
							width:100%;
							
							input[type="submit"]{
								
								display: inline-block;
								font-size: 0.9em;
								line-height: 15px;
								color: $color2;
								border: 1px solid $color6;
								outline: 0;
								font-family: ($FontList);
								height: 30px;
								@include boxShadow( rgba(0,0,0,.1) 0 0 0 4px );
								line-height: 1.5em;
								background: $color3;
								/*-webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,#090));*/
								@include TransOrigin( 0,0 );
								@include FillUp( both );
								@include TranSition( all 0.2s ease-out);
								background-color: $color1;
								width: 20%;
								&:hover {
									background-color: $color2;
									color: $color1;
								}
							}
							
							textarea.bp-suggestions{
							
								margin-bottom:1em;
							}
							
							a{
								display:inline-block;
								width:30%;
							}

						}
					
					}
				
				
				}
			}
		}

	}
	
	form#whats-new-form{
		div#whats-new-textarea{
		
		}
		div#whats-new-options{
			display:block;
			height:50px;
            margin-top: 1em;
			
			div#whats-new-submit{
				display:block;
				margin:0;
				
				input[type="submit"]{
					text-decoration: none;
					margin: 0 ;
					height: 100%;
					float: right;
					display: block;
					padding: 1% 2%;
					line-height: 20px;
					letter-spacing: 0.2em;
					font-size: 0.85em;
					color: $color2;
					text-align: center;
					background-color: $color1;
					@include TransOrigin( 0,0 );
					@include FillUp( both );
					@include TranSition( all 0.2s linear);
					&:hover{

						background-color: $color3;
						color: $color2;
						text-decoration: none;
						line-height: 20px;
						font-weight: bold;


					}
				}
			}
			
			div#whats-new-post-in-box{
				height:50px;
				margin-top: 0.5em;
				label{
					width:10%;
				
				}
				select#whats-new-post-in{
					width:30%;
				}
			}
		}
	}
}


#buddypress ul.item-list li h3, 
#buddypress ul.item-list li h4{
	width: 100%;
    display: inline-block;

}

#buddypress form#whats-new-form{
    clear:both;
    margin:1em 0;
    padding: 1em;

    #whats-new-avatar {
        width: 6%;
        margin-right: 0.5em;
        float: left;
        display:inline-block;
    }
    p.activity-greeting {
        line-height: 35px;
        display: inline-block;
        width: 65%;
    }
    div#whats-new-content{
        clear:both;
        padding:0.5em 0;
        whats-new-textarea{
        
            label{
                width:100%;
                line-height:35px;
                
            }
        }
    }

}

#buddypress table.profile-fields tr td.label{
    width: 100%;
    color: #000;
    font-size:1em;
    text-align:left;
}

#buddypress #item-header-cover-image {
    padding: 0 1em;
    position: relative;
    z-index: 2;
}

#buddypress #item-header-cover-image #item-header-avatar {
    margin-top: 1.5em;
    width: 11%;
}


#buddypress #header-cover-image {
    background-color: $color1;
    height: 175px;

}

#buddypress #item-header-cover-image {

    #item-header-avatar{
        img.avatar {   display:block;}
    }
}

#buddypress div#object-nav.item-list-tabs {

    display: block;
}

#buddypress div#item-header {

    #item-header-cover-image {

        #item-header-content {
            clear: both;
            float: left;
            margin-left: 132px;
    		margin-top: -137px;
            width: auto;
            div#item-meta {
                font-size: 0.95em;
                color: $color2;
                margin: 15px 0 5px;
                padding-bottom: 1em;
            }
            span.activity {
                color: $color2;
            }
            .user-nicename {
                font-size: 200%;
                color: $color2;
                margin: 0 0 0.6em;
                text-rendering: optimizelegibility;
                text-shadow: 0 0 3px rgba( 0, 0, 0, 0.8 );
            }
        }
    }
}


#buddypress .standard-form {
    margin: auto;
    background-color: $color1;
    color: $color2;
    padding: 2%;
    font-family: Candara, Arial, Helvetica, sans-serif;
    //min-height: 800px;
    height: auto;
    width: 80%;

    #basic-details-section{
        float:none;
        width:100%;
        h2{color:$color2;}
    }
    #profile-details-section {
        float: none; width:100%;
    }

    h2 {
        width: 100%;
        color: $color1;
        border-bottom: solid 1px $color2;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.1em;
        display: block;

        a {
            display: block;
            text-decoration: none;
            margin: 0 auto;
            height: 100%;
            width: 80%;
            line-height: 40px;
            letter-spacing: 0.2em;
            color: $color1;
        }
    }

    p {
        width: 96%;
        margin: 1% 0;
        font-size: 1em;
        line-height: 1.7em;
        color: #fff;
    }

    label {
        color: $color2;
        text-align: left;
        line-height: 35px;
        width: 100%;
        display: block;
        letter-spacing: 0.1em;
        font-size: 1em;
        font-weight: 100;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
        height: 100%;
        font-size: 1em;
        color: $color5;
    }

    div.submit {
        width: 40%;
        margin: 4% auto;
        padding: 0;
        height: 30px;
        line-height: 30px;
        clear: left;
        float: none;

        input[type="submit"] {
            width: 100%;
            height: 100%;
            font-size: 0.9em;
            color: $color2;
            border: 1px solid $color6;
            outline: 0;
            @include boxShadow( rgba(0,0,0,.1) 0 0 0 4px );
            background: $color2;
            background-color: $color1;
            display: block;

            &:hover {
                color: $color1;
                background-color: $color2;
                color: $color3;
                cursor: pointer;
            }
        }
    }
}

