@import "mixins";
@import "variables";
/*bbpress*/

//breadcrumbs
#main-content {

    div.bbp-breadcrumb,
    div.bbp-topic-tags {
        font-size: 0.9em;
        width: 54%;
        height: 50px;
        margin-top: 1em;
        p {
            display: block;
            line-height: 50px;
            a {
                height: 100%;
            }
        }
    }

    
    div.bbp-reply-author,
    a.bbp-author-name {
        margin: 0;
    }


    .widget-error {
        text-align: center;
    }


}

