$bgcolor1:#F0F7E8;
$shadowcolor2:#c9c9c9;
$color1:#336600;
$color2:#fff;
$color3:#063;
$color4:#6ab866;
$color5:#000;
$color6:#e5e5e5;

@font-face {  
    font-family: 'Amaranth-Bold';  
    src: url('fonts/amaranth/Amaranth-Regular.eot'); /* IE9 Compat Modes */  
    src: url('fonts/amaranth/Amaranth-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  
    url('fonts/amaranth/Amaranth-Regular.woff') format('woff'), /* Modern Browsers */  
    url('fonts/amaranth/Amaranth-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */  
    url('fonts/amaranth/Amaranth-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */  
}  

@font-face {  
    font-family: 'TitilliumWeb-Regular';  
    src: url('TitilliumWeb-Regular.eot'); /* IE9 Compat Modes */  
    src: url('TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  
    url('TitilliumWeb-Regular.woff') format('woff'), /* Modern Browsers */  
    url('TitilliumWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */  
    url('TitilliumWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */  
}  

$FontList: 'PT Sans', 'Cabin','Amaranth-Bold', 'TitilliumWeb-Regular' Arial, Helvetica, sans-serif;

